<div class="page-header">
  <h1>
    <%= current_user.email %> below is your course history
    <a href="/recommendations" class="btn btn-lg btn-success">Course Recommendations</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Year</th>
        <th>Quarter</th>
        <th>Section</th>
        <th>Personal Rating</th>
        <th><a href="/methodology">
          How is this used?
        </a>
      </th>
    </tr>

    <% @histories.each do |history| %>
    <tr>


      <td><%= history.course_num %></td>
      <td><%= history.course_name %></td>
      <td><%= history.year %></td>
      <td><%= history.quarter_text %></td>
      <td><%= history.section %></td>
      <td>
        <form action="www.localhost:3000/histories" method="post">
          <div class="wrapper">

            <input name="course_rating" type="integer" placeholder="Input Rating (1 to 5)" class="form-control" style=style="width: 10%;">
          </div>
        </form>
      </td>
      <td>
        <button class="btn btn-primary" style="float: middle">
          Update Rating
        </button>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
